# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual environment
# =========================
venv/
.env/

# =========================
# Pytest / test artifacts
# =========================
.pytest_cache/
htmlcov/
*.html

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
