name: API Tests

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
  workflow_dispatch:
    inputs:
      markers:
        description: "Which tests to run (smoke, regression, positive, negative, all)"
        required: true
        default: "smoke"

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run pytest
        run: |
          if [ "${{ github.event.inputs.markers }}" = "all" ]; then
            pytest -v
          else
            pytest -v -m "${{ github.event.inputs.markers }}"
          fi
